<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT2U - Descubra Eventos Incríveis</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Tela_inicial.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">EVENT2U</div>
            <div class="right-section">
                <div class="categories-dropdown">
                    <button class="categories-btn" id="categoriesBtn">Busque eventos por categoria</button>
                    <div class="categories-menu" id="categoriesMenu">
                        <button class="category-item" data-category="all">🎭 Todos os Eventos</button>
                        <button class="category-item" data-category="shows">🎵 Shows</button>
                        <button class="category-item" data-category="festivals">🎪 Festivais</button>
                        <button class="category-item" data-category="theater">🎭 Espetáculos,Teatro,Comédia</button>
                        <button class="category-item" data-category="sports">⚽ Esportes</button>
                        <button class="category-item" data-category="cultural">🕺 Lazer,passeios</button>
                        <button class="category-item" data-category="business">💼 Negócios, Educação & workshop</button>
                    </div>
                </div>

                <!--Usuário deslogado-->
                {%if not session.get('email') %}
                <div class="user-info logged-out">
                    <a href="{{ url_for('auth.login') }}" class="login-btn">Entrar</a>
                </div>
                {% endif %}


                <!--Usuário Logado-->
                {% if session.get('email')%}
                <div class="user-info logged-in">
                    <div class="user-avatar dropdown-trigger">
                        {{ session.get('email')[0]|upper }}
                    </div>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('user.perfilParticipante')}}">👤 Meu Perfil</a>
                        <a class="dropdown-item" href="{{url_for('user.meusIngressos')}}">🎫 Meus ingressos</a>
                    
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{{url_for('auth.logout')}}">🚪 Sair</a>
                    </div>
                </div>
                {% endif %}

            </div>
   
        </div>

        <div class="nav">
            <a href="{{url_for('home.telaInicial')}}" class="nav-item active">Início</a>
            <a href="{{url_for('user.meusIngressos')}}" class="nav-item">Meus Ingressos</a>
            <a href="{{url_for('user.perfilParticipante')}}" class="nav-item">Meu perfil</a>
        </div>
        
        <div class="content">
            <!-- Banner Principal -->
            <!-- Aparece o evento com mais vendas de ingresso e com ingressos disponivel -->
            {% if evento_famoso %}
                <div class="hero-banner">
                    <div class="banner-content">
                        <img src="{{ url_for('static', filename=evento_famoso.imagem_url) }}" 
                            alt="Imagem do evento {{ evento_famoso.nome }}" class="banner-image-main">
                        <div class="modal-hero-banner">
                            <h1> {{ evento_famoso.nome }}</h1>
                            <p class="banner-subtitle"><i class="far fa-calendar"></i> {{evento_famoso.dataFormatada}}</p>
                            <p class="banner-date"><i class="far fa-compass"></i> {{evento_famoso.local}}</p>                            
                            <a class="btn btn-primary" href="{{ url_for('user.eventoSelecionado', id=evento_famoso.id) }}">Comprar Ingressos</a>
                        </div>

                    </div>
                </div>
            {% else %}
            <!-- Não tem eventos ainda no sistema -->

                <div class="hero-banner">
                    <div class="banner-content">
                        <h1>Ops... Parece que não temos eventos dessa categoria ainda</h1>
                        <p class="banner-subtitle">mas a qualquer momento novos eventos serão publicados aqui!</p>
                    </div>
                </div>
            {% endif %}

            <!-- Shows em Destaque com Rolagem Lateral -->
            <!-- Aparece um evento por categoria-->
            <section class="events-section">
            {% if categoria_solicitada != 'all' %}
                <span class="texto-resultado-de-busca"><p> Resultados para a categoria: <strong> "{{categoria_selecionada}}" </strong> </p></span> 
            {% endif %}
            <h2 class="section-title">Eventos Especiais </h2>
            
            {% if eventos_caros and eventos_caros|length > 0 %}
            <div class="events-scroll-container" id="featuredEvents">
                {% for evento in eventos_caros %}
                    <div class="event-card">
                        <img src="{{ url_for('static', filename=evento.imagem_url) }}" 
                            alt="Capa do evento {{ evento.nome }}" class="banner-image">
                        <div class="event-info">
                            <h3 class="event-name">{{evento.nome}}</h3>
                            <p class="event-date"><i class="far fa-calendar"></i> {{evento.dataFormatada}}</p>
                            <p class="event-location"><i class="far fa-compass"></i> {{evento.local}}</p>
                            
                            {% if evento.temIngressosDisponiveis == False %}
                                <div class="event-price">Ingressos Esgotados</div>
                                <button class="btn btn-disabled" disabled>ESGOTADO</button>
                            {% else %}                                    
                                {% if evento.valorMaisBaixo|float == 0.0 %} 
                                    <div class="event-price">
                                        Ingresso Gratuito 
                                    </div>
                                {% else %}
                                    <div class="event-price">
                                        A partir de R${{ "%.2f"|format(evento.valorMaisBaixo)|replace('.', ',') }}
                                    </div>
                                {% endif %}
                                
                                <a class="btn btn-primary" href="{{ url_for('user.eventoSelecionado', id=evento.id) }}">Comprar Ingresso</a>
                            {% endif %}                                 
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p class="no-events">Nenhum evento encontrado nesta categoria.</p>
            {% endif %}                        
            </section>

            

            <!-- EVENTOS ESPECIAIS com Rolagem Lateral -->
            <!-- Eventos com os VALORES MAIS CAROS -->
            <section class="events-section">
                <h2 class="section-title">Eventos recentes</h2>
                {% if eventos_recentes and eventos_recentes|length > 0 %}
                    <div class="events-scroll-container" id="specialEvents">
                        {% for evento in eventos_recentes %}
                            <!-- My Chemical Romance -->
                            <div class="event-card">
                                <div class="event-image">   
                                    <img src="{{ url_for('static', filename=evento.imagem_url) }}" 
                                            alt="Capa do evento {{ evento.nome }}" class="banner-image">
                                </div>
                                <div class="event-info">
                                    <h3 class="event-name">{{evento.nome}}</h3>
                                    <p class="event-date"><i class="far fa-calendar"></i> {{evento.dataFormatada}}</p>
                                    <p class="event-location"><i class="far fa-compass"></i> {{evento.local}}</p>

                                    {% if evento.temIngressosDisponiveis == False %}
                                        <div class="event-price">Ingressos Esgotados</div>
                                        <button class="btn btn-disabled" disabled>ESGOTADO</button>

                                    {% else %}
                                        {% if evento.valorMaisBaixo|float == 0.0 %} 
                                            <div class="event-price">
                                                Ingresso Gratuito 
                                            </div>
                                        {% else %}
                                            <div class="event-price">
                                                A partir de R${{ "%.2f"|format(evento.valorMaisBaixo)|replace('.', ',') }}
                                            </div>
                                        {% endif %}
                                            <a class="btn btn-primary" href="{{ url_for('user.eventoSelecionado', id=evento.id) }}">Comprar Ingresso</a>
                                    {% endif %}                                    
                                </div>
                            </div>                    
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="no-events">Nenhum evento encontrado nesta categoria.</p>
                {% endif %}  
            </section>
        </div>


        <!-- =================================== FOOTER ================================ -->
        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-section">
                        <h3>Sobre o Event2U</h3>
                        <p>Plataforma completa para criação e gestão de eventos. Conectamos organizadores e participantes de forma simples e eficiente.</p>
                    </div>
                    <div class="footer-section">
                        <h3>Links Rápidos</h3>
                        <a href="#">Como funciona</a>
                        <a href="#">Preços</a>
                        <a href="#">Blog</a>
                        <a href="#">Contato</a>
                    </div>
                    <div class="footer-section">
                        <h3>Suporte</h3>
                        <a href="#">Central de Ajuda</a>
                        <a href="#">FAQ</a>
                        <a href="#">Política de Privacidade</a>
                        <a href="#">Termos de Uso</a>
                    </div>
                </div>
                <div class="copyright">
                    &copy; 2025 Event2U. Todos os direitos reservados.
                </div>
            </div>
        </footer>

    </div>

    <!-- =================================Modal de Login ===============================-->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="closeLoginModal">&times;</span>
                <div class="logo">EVENT2U</div>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center; margin-bottom: 20px; font-family: 'Montserrat';">Acesse sua conta</h3>
                
                <form id="loginForm">
                    <div class="form-group">
                        <label for="loginEmail">E-mail</label>
                        <input type="email" id="loginEmail" placeholder="Digite seu email" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="loginPassword">Senha</label>
                        <input type="password" id="loginPassword" placeholder="Digite sua senha" required>
                    </div>
                    
                    <div class="forgot-password">
                        <a href="#" id="forgotPassword">Esqueci minha senha</a>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-full">ENTRAR</button>
                </form>
                
                <div class="modal-footer">
                    <p>Não tem uma conta? <a href="#" id="goToRegister">Cadastre-se agora</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/Tela_inicial.js') }}"></script>
</body>
</html>